.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #e84e33;
  padding: 20px 30px;
  font-size: large;
}

.product-item {
  padding: 60px;
}
